
.parent_box{
    display: flex;
    color:white;
    gap:20px;
    

}
.child{
    width: 200px;
    height:200px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.box1{
    background-color: red;
}.box2{
    background-color: blue;
}.box3{
    background-color: green;
}

.box1:hover{
    background-color: rgb(155, 20, 20);
}.box2:hover{
    background-color:rgb(95, 194, 95);
}.box3:hover{
    background-color: rgb(69, 69, 184);
}